body {
  padding: 15px;
}

#root {
  max-width: 1200px;
  margin-inline: auto;
}

ul.list-group {
  margin-bottom: 50px;
}

li.list-group-item {
  display: flex;
}

.list-group-item span {
  flex-grow: 1;
}